.nav-burger-list {
  max-width: 680px;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.nav-menu-burder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.nav-menu-item-burder {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #000000;
  font-family: "Outfit", sans-serif;
}
.nav-order-burder {
}
.nav-order-button-burder {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding: 8px 32px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(89.92deg, #3bf3dd 32.96%, #e233c6 69.41%);
  font-family: "Outfit", sans-serif;
}
